/*Index.html style here*/

body {
    height: auto;
    min-height:100vh;
    max-width: 100vw;
    overflow-x:hidden;
}
.header {
    justify-content: center;
    margin-left: auto;
    height: auto;

}

.upper{
    background-color: #999999;
    color: white;
}

#network-graph {
    height: 100vh;
}

.tooltip{
    /*border: thin solid grey;*/
    /*border-radius: 5px;*/
    /*background: darkgray;*/
    /*padding: 20px;*/
    font-size: 0.5em;
    /*width: 30vw;*/
}

/* From uiverse.io by @namecho */
.toggleswitch {
    --button-width: 3.5em;
    --button-height: 2em;
    --toggle-diameter: 1.5em;
    --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
    --toggle-shadow-offset: 10px;
    --toggle-wider: 3em;
    --color-grey: #cccccc;
    --color-green: #4296f4;
}

.toggleslider {
    display: inline-block;
    width: var(--button-width);
    height: var(--button-height);
    background-color: var(--color-grey);
    border-radius: calc(var(--button-height) / 2);
    position: relative;
    transition: 0.3s all ease-in-out;
}

.toggleslider::after {
    content: "";
    display: inline-block;
    width: var(--toggle-diameter);
    height: var(--toggle-diameter);
    background-color: #fff;
    border-radius: calc(var(--toggle-diameter) / 2);
    position: absolute;
    top: var(--button-toggle-offset);
    transform: translateX(var(--button-toggle-offset));
    box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
    transition: 0.3s all ease-in-out;
}

.toggleswitch input[type="checkbox"]:checked + .toggleslider {
    background-color: var(--color-green);
}

.toggleswitch input[type="checkbox"]:checked + .toggleslider::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
    box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
}

.toggleswitch input[type="checkbox"] {
    display: none;
}

.toggleswitch input[type="checkbox"]:active + .toggleslider::after {
    width: var(--toggle-wider);
}

.toggleswitch input[type="checkbox"]:checked:active + .toggleslider::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
}


/*Drawing Visualization styles here*/