/*Index.html style here*/

body {
    height: auto;
    min-height:100vh;
    max-width: 100vw;
    overflow-x:hidden;
}
.header {
    justify-content: center;
    margin-left: auto;
    height: auto;

}

.upper{
    background-color: #999999;
    color: white;
}

#network-graph {
    height: 100vh;
}

.tooltip{
    /*border: thin solid grey;*/
    /*border-radius: 5px;*/
    /*background: darkgray;*/
    /*padding: 20px;*/
    font-size: 0.5em;
    /*width: 30vw;*/
}

/*Drawing Visualization styles here*/